.productTop {
  margin-top: 110px;
}
.remen .remenIn {
  margin: 10px auto;
  height: 40px;
  background-color: whitesmoke;
}
.remen .remenIn h4 {
  color: #F59D56;
  margin-top: 10px;
  line-height: 40px;
  text-indent: 1em;
}
.brandin li {
  height: 30px;
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
}
.brandin li a p {
  height: 30px;
  margin-left: 10px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 700;
}
.brandin li a p img {
  margin-left: 90%;
  margin-top: -60px;
}
