#recommen {
  margin-top: 110px;
}
#recommen > .panel-group > .panel-default {
  margin-top: 0;
}
#recommen > .panel-group > .panel-default > .panel-heading {
  border-bottom: 0;
  background-color: #f5f5f5;
}
#recommen > .panel-group > .panel-default > .panel-heading > h5 > a {
  display: block;
}
#recommen > .panel-group > .panel-default > .panel-heading > h5 > a img {
  width: 20px;
  height: 20px;
  float: right;
}
#recommen > .panel-group > .panel-default > .panel-collapse {
  overflow: hidden;
}
#recommen > .panel-group > .panel-default > .panel-collapse > .panel-body {
  padding: 0;
  border: 0;
}
#recommen > .panel-group > .panel-default > .panel-collapse > .panel-body > .row > div {
  height: 30px;
  line-height: 30px;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 10px;
  border-top: 0;
  border-left: 0;
}
