body {
  background-color: #f5f5f5;
  height: 2000px;
}
.sole {
  background-color: #ff841d;
  height: 30px;
}
.sole h2 {
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  margin-left: 10px;
  margin-top: 8px;
  color: #FFFFFF;
}
.sole .arc {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
.sole .arc span {
  margin-left: 5px;
  color: #fff;
}
#header {
  height: 50px;
  width: 100%;
  background-color: #ff841d;
  position: fixed;
  z-index: 999;
  top: 0;
}
#header .logo {
  height: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
}
#header .logo img {
  height: 30px;
}
#header .app {
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
#header .app img {
  height: 30px;
}
#search {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 50px;
  z-index: 999;
}
#search .search-left {
  width: 100%;
  height: 100%;
}
#search .search-left > input {
  position: absolute;
  width: 70%;
  height: 30px;
  color: #cccccc;
  padding-left: 20px;
  left: 20px;
  right: 40px;
  border-radius: 15px;
  border: 0;
  background-color: #eeeeee;
}
#search .search-right {
  width: 20%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ff841d;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 15px;
}
#menu {
  margin-top: 110px;
  padding: 10px;
  background-color: #fff;
}
#menu .row > div > a {
  display: block;
  text-align: center;
  margin-top: 10px;
}
#menu .row > div > a > img {
  width: 40px;
  height: 40px;
}
#menu .row > div > a p {
  font-size: 12px;
}
#menu .row div:nth-last-child(-n+4) {
  display: none;
}
#recommen .media {
  width: 100%;
}
#recommen .media .media-left a img {
  width: 100px;
  height: 100px;
}
#recommen .media .media-body .comment img {
  width: 14px;
  height: 14px;
}
#recommen .more {
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 15px;
}
#recommen .more p {
  display: block;
  font-size: 15px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
#footer .footer1 {
  position: relative;
  margin-top: 30px;
  height: 40px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
#footer .footer1 .denglu {
  float: left;
  width: 33.33%;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #cccccc;
}
#footer .footer1 .zhuce {
  float: left;
  width: 33.33%;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #cccccc;
}
#footer .footer1 .fanhui {
  float: left;
  width: 33.33%;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}
#footer .footer2 .p1 {
  display: block;
  text-align: center;
  margin-top: 10px;
}
#footer .footer2 .p1 .shouji {
  color: red;
}
#footer .footer2 .p1 a {
  color: #cccccc;
}
#footer .footer2 .p2 {
  margin-top: -10px;
  text-align: center;
  color: #cccccc;
}
